body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 40px;
}

.about-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px 10px;
}

.projects-list {
    padding 0;
    margin-left: 15px;
}

.projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link{
    margin-left: 10px;
}

.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects {
    margin-bottom: 50px;
}

.work {
    margin-bottom: 45px;
}

.work-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.company {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #f05f0c;
}

.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: black;

}
.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
  margin-bottom: 10px;
}

.department {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #77d396;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar_title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts,
.tech_skills,
.soft_skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contact_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}

.tech_skills_list {
  color: white;
  padding: 0;
  margin-left: 18px;
}

.tech_skills_item {
  color: yellow;
}

.tech_skills_text {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.tech_skills {
  margin-bottom: 45px;
}

.soft_skills_list {
  color: white;
  padding: 0;
  margin-left: 18px;
}

.soft_skills_item {
  color: yellow;
}

.soft_skills_text {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
